meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="viewport" content="width=device-width, initial-scale=1.0")

base(href="/")

title Prabith GS

meta(name="description" content="Prabith GS is a Creative Developer and a Reverse Engineer based in India .")

meta(property="og:title" content="Prabith GS — Reverse Engineer")
meta(property="og:description" content="Prabith GS is a Creative Developer and a Reverse Engineer based in India .")

meta(name="twitter:card" content="summary_large_image")
meta(name="twitter:site" content="@guptaprabith")
meta(name="twitter:title" content="Prabith GS — Reverse Engineer")
meta(name="twitter:description" content="Prabith GS is a Creative Developer and a Reverse Engineer based in India .")
